---
layout: indmag
title: indmag
galleries:
  - title: Link to homepage
    image: /assets/images/apollo3.jpg
    url: /
  - title: Link to image gallery
    image: /assets/images/apollo2.jpg
    url: /without-plugin/image-gallery
---
<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- 슬라이더 입니다. -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ... </div>
    <!-- 만약 페이지네비게이션이 필요하다면 추가하세요 -->
    <div class="swiper-pagination"></div>
</div>

</div>
{% include carousel.html height="50" unit="%" duration="7" %}
<hr>
{% if page.galleries %}{% include image-gallery-index.html %}{% endif %}