---
layout: indmag
title: indmag
galleries:
  - title: Link to homepage <!--제목-->
    tag: 홈페이지<!--주제-->
    content: 우리는 홈페이지를 가야한다 왜냐하면 홈페이지이기 때문이다 홈페이지는 홈페이지다 홈페이지라서 홈페이지다. 홈으로 가자 홈으로 가자 우리는 홈으로 간다. 지금 우리는 홈이다.<!--내용간략-->
    image: /assets/images/apollo3.jpg
    url: /
  - title: 블라블라 <!--제목-->
    tag: <!--주제-->
    content: <!--내용간략-->
    image: /assets/images/apollo2.jpg
    url: /without-plugin/image-gallery
---
{% include carousel.html height="50" unit="%" %}
<hr>
{% if page.galleries %}{% include image-gallery-index.html %}{% endif %}