<style>
    .image-gallery-index {overflow: auto; margin-top: -20px!important;}
    .image-gallery-index a {float: left; display: block; margin-left: 5%; margin-top: 45px; width: 90%; text-decoration: none !important;}
    .image-gallery-index a img {width: 100%; display: block;}
    .image-gallery-index a span {display: inline-block; text-align: left; padding: 1px 3px;}
    .image-gallery-index a span.title {color: black; font-size: large; font-weight: bold; }
    .image-gallery-index a span.tag {color: rgb(30, 30, 30); font-size: medium; font-weight: 300; }
    .image-gallery-index a span.intro {color: rgb(75, 75, 75); font-size: small; }
</style>

<p class="image-gallery-index">
    {% for page in site.posts %}
    <a href="{{ page.url }}" title="{{ page.title }}">
        <img src="{{ page.thumbnail }}" />
        <span class="title">{{ page.title }}</span>
        <span class="tag">{{ page.categories }}</span>
        <span class="intro">{{ page.intro }}</span>
    </a>
    {% endfor %}
</p>