<style>
    .image-gallery-index {overflow: auto; margin-top: -20px!important;}
    .image-gallery-index a {float: left; display: block; margin-left: 5%; margin-top: 45px; width: 90%; text-decoration: none !important;}
    .image-gallery-index a img {width: 100%; display: block;}
    .image-gallery-index a span {display: inline-block; text-align: left; padding: 1px 3px;}
    .image-gallery-index a span.title {color: black; font-size: large; font-weight: bold; }
    .image-gallery-index a span.tag {color: rgb(30, 30, 30); font-size: medium; font-weight: 300; }
    .image-gallery-index a span.intro {color: rgb(75, 75, 75); font-size: small; }
</style>

<p class="image-gallery-index">
    {% for post in site.posts limit:5 %}
    <a href="{{ post.url }}" title="{{ post.title }}">
        <img src="{{ post.thumbnail }}" />
        <span class="title">{{ post.title }}</span>
        <span class="tag">{{ post.categories }}</span><b></b>
        <span class="intro">{{ post.intro }}</span>
    </a>
    {% endfor %}
</p>