<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times"></i></a>
    {% for categorie in site.data.categories %}
    <a href="https://dstudio.kr/categories/{{ categorie }}">{{ categorie }}</a>
    {% endfor %}
    <div id="menufooter">
      <p>About Contact ETC</p>
    </div>
  </div>
  
  <!-- Use any element to open the sidenav -->
  <span onclick="openNav()" class="icon"><i class="fas fa-bars" style="cursor:pointer;"></i></span>