<meta property="og:locale" content="ko_KR">
<meta property="og:type" content="article">
{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
{% else %}
<meta property="og:title" content="{{ site.title }}">
{% endif %}
<meta name="og:image" content="/assets/images/logo/logo.jpg">
{% if page.intro %}
<meta property="og:description" content="{{ page.intro }}">
{% else %}
<meta property="og:description" content="아마추어 예술가 아카이브 D studio">
{% endif %}
<meta property="og:url" content="{{ page.url }}">
<meta property="og:site_name" content="D studio">