<script src="https://kit.fontawesome.com/5d44e9c537.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/assets/js/jquery.flexslider.js"></script>
<script src="/assets/js/scroll.js"></script>
<!-- Place in the <head>, after the three links -->
<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
    $('.flexslider').flexslider(
        {
            animation: "slide",
            randomize: true,
            touch: true,
            directionNav: false,
            slideshowSpeed: 4000,
        }
    );
    });
</script>
<script>
/* Set the width of the side navigation to 250px */
function openNav() {
  if (document.screen.width < 768){
  document.getElementById("mySidenav").style.width = "100%";
  document.getElementById("menufooter").style.width = "100%";
} else {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("menufooter").style.width = "250px";
}
  document.getElementById("body").style.overflow = "hidden";
}
/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("body").style.overflow = "";
}
</script>