html {
    height: 100%;
}
body {
    height: 100%;
    background-color: black;
}
div {
    width: 100%;
    height: 100%;
  }
.paint1 {
    background-image: url('/assets/img/main/1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .paint2 {
    background-image: url('/assets/img/main/2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .paint3 {
    background-image: url('/assets/img/main/3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }