html{
    background-color: #f5f5f5;
}
body {
    overflow: hidden;
    height: 85vh;
    margin:0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
img{
    max-width: 49%;
    max-height: 99%;
}
.logo{
    text-align: center;
    margin-top: 20px;
    height: 48px;
}
.contentbox {
    height: 90%;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}
.work::-webkit-scrollbar{
    display: none;
}
.content {
    height: 100%;
    width: 80%;
    min-height: 400px;
    max-width: 1200px;
    display: inline-block;
    text-align: left;
    background-color:#f5f5f5;
}

.wrap-post{
    height: 100%;
}
.info{
    float: left;
    width: 23%;
    position: absolute;
}
ul{
    list-style: none;
}
.work{
    height: 100%;
    float: right;
    width: 70%;
    overflow-y: scroll;
}
.artists{
    width: 100%;
    display: inline-block;
}
a{
    text-decoration: none;
    color: rgb(68, 68, 68);
}
a:hover{
    color: rgb(165, 165, 165);
}
h3{
    text-align: center;
}
@media (max-width: 768px) {
    .content {
        width: 96%;
    }
    .logo{
        margin-top: 10px;
    }
    .contentbox {
        height: 80%;
    }
    .work{
        width: 65%;
    }
    .info{
        width: 31%;
    }
}
.footer{
    background-color: #f5f5f5;
    padding-bottom: 30px;
    text-align: center;
    font-size: small;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
.footer p {
    margin: 0;
}