html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
div {
  width: 100%;
  height: 50%;
  position: relative;
}
#indmag{
  float: left;
  background-color: #ffbd2d;
  overflow: hidden;
  img{
    position: absolute;
    max-width: 500px;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
  }
}
#dstudio{
  float: left;
  background-color: #161a1b;
  overflow: hidden;
  img{
    position: absolute;
    max-width: 500px;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
  }
}
@media ( max-width: 768px ) {
  #indmag img{
    max-height: 50%;
    }
  #dstudio img{
    max-height: 50%;
    }
  }