html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
div {
  width: 100%;
  height: 50%;
  text-align: center;
  vertical-align: middle;
}
#indmag{
  float: left;
  background-color: #ffb000;
  border-bottom: white;
  img{
    max-width: 600px;
  }
}
#dstudio{
  float: left;
  background-color: #0d1011;
  img{
    max-width: 600px;
  }
}
@media ( max-width: 767px ) {
  img{
    max-width: 300px;
  }
}