body {
    margin:0
}

.center {
    width: 100%;
    text-align: center;
    background-color: #ffb000;
    position: sticky;
    padding-top: 8px;
}

.navbar {
    display: inline-block;
    width: 360px;
    height:59px
}

.navbar a {
    float:left
}

.navbar img {
    max-height: 50px;
    padding-right:15px
}

.menu {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    margin:4px;
    font-family: 'Menlo', 'Courier New', Courier, Monospace;
    font-size: x-large;
}

.menu:hover {
    background: #ddd;
    color:#000
}

.content {
    margin-top: 30px
}

