body {
    margin: 0; /* 브라우저 여백없에기*/
}

/* The navigation bar */
.navbar {
    text-align: center;
    overflow: hidden;
    background-color: #ffb000;
    position: -webkit-sticky;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    height: 56px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
  }
  menu {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  menu:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .content {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }