body {
    margin:0;
}

#center {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #f9bc00;
    position: fixed;
    padding-top: 8px;
    max-height: 50px;
    overflow:hidden;
}

.navbar {
    display:inline-block;
}

.navbar a {
    float:left;
}

.logo {
    margin-right: 40px;
    width: 65px;
    height: 40px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/images/logo.svg");
}

.logo:hover {
    background-image: url("/assets/images/logo-2.svg");
}

.menu {
    color: #161a1b;
    padding: 8px 16px;
    font-family: 'Menlo', 'Courier New', Courier, Monospace;
    text-decoration: none;
}

.menu:hover {
    transition-duration: 0.3s;
    color: #ffffff80;
}

.content {
    display: inline-block;
    margin-top: 90px;
}




