html {
  height: 100%;
}
body {
  height: 100%;
  background-color: black;
}
div {
  width: 98%;
  height: 100%;
}
#main{
  position: fixed;
  color: white;
  width: 100%;
  font-size: 10vh;
  font-family: serif;
  margin-top: 22vh;
  text-align: center;
}
@media ( max-width: 767px ) {
  #main{
    position: fixed;
    color: white;
    width: 100%;
    font-size: 7vh;
    font-family: serif;
    margin-top: 27vh;
    text-align: center;
  }
}