<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="대구시 예술가 아카이브 D studio">
    <meta name="author" content="admin@dstudio.kr">
    <meta name="creator" content="Sung-gyu Choi">
    <meta name="keywords" content="Daegu, culture, art">
    <meta name="naver-site-verification" content="2ca6bc9a8cd1e7a15b3ed90282400dd7d54e29be" />
    <title>D studio</title>
    {% if page.index %}
    <meta name="canonical" href="https://www.dstudio.kr">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/assets/css/001.css">
    <script src="https://kit.fontawesome.com/5d44e9c537.js" crossorigin="anonymous"></script>
    {% include og.html %}
    {% include favicon.html %}
</head>
<body id="body">
    </div>
    <header class="logo">
        <a href="https://dstudio.kr/" rel="logo">
        <img src="/assets/images/logo/logo.jpg" style="height: 100%; width: auto;">
        </a>
    </header>
    <div class="contentbox">
        <div class="content">
        <div class="wrap-post">
            {% if page.artist %}
                {{ content }}
                <article class="info">
                    <p class="infoname">{{ page.infoname }}</p>
                    <p class="p">{{ page.info }}</p>
                    <p class="artist-icon-wrap">
                    {% if page.homepage %}
                    <a href="{{ page.homepage }}" class="artist-icon" rel="author"><i class="fas fa-home"></i></a>
                    {% endif %}
                    {% if page.instagram %}
                    <a href="{{ page.instagram }}" class="artist-icon" rel="author"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if page.email %}
                    <a href="{{ page.email }}" class="artist-icon" rel="author"><i class="fas fa-envelope"></i></a>
                    {% endif %}
                    </p>
                </article>
            {% else %}
                <article class="artists">
                <ul>
                    {% for artist in site.data.artists %}
                    <a href="https://dstudio.kr/artists/{{ artist.adressname }}">
                        <li class="artist">{{ artist.name }} 
                        </li>
                    </a>
                    {% endfor %}
                </ul>
                </article>
            {% endif %}
        </div>
        </div>
    </div>
    {% include footer.html %}
</body>