<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="아마추어 예술가 아카이브 D studio">
    <meta name="author" content="admin@dstudio.kr">
    <meta name="creator" content="Sung-gyu Choi">
    <meta name="keywords" content="Daegu, culture, art">
    <meta name="naver-site-verification" content="2ca6bc9a8cd1e7a15b3ed90282400dd7d54e29be" />
    <title>D studio</title>
    {% if page.index %}
    <link rel="canonical" href="https://www.dstudio.kr/">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/assets/css/001.css">
    <script src="https://kit.fontawesome.com/69c07f8d36.js" crossorigin="anonymous"></script>
    <script src="/assets/js/questionbtn.js"></script>
    <script src="/assets/js/more.js"></script>
    {% include og.html %}
    {% include favicon.html %}
</head>
<body id="body">
    </div>
    <header>
        <a href="/" rel="index" class="logo">
        <img src="/assets/images/logo/logo.jpg" alt="logo" style="height: 48px; width: 48px;">
        </a>
        <a href="javascript:void(0)" onclick="openQuestion()" id="questionbtn" class="questionbtn">
            <i class="fa-regular fa-circle-question"></i>
        </a>
        <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="closeQuestion()">
            <i class="fa-solid fa-circle-xmark"></i>
        </a>
    </header>
    <main class="contentbox">
        <div class="content">
        <div class="wrap-post">
            <div id="infotext" class="infotext">
                <p>"D studio"는 아마추어 예술가들의 작업물을 아카이빙합니다.<br>
                    수집에는 나이, 성별, 분야, 주제 등을 가리지 않습니다.<br><br>
                    예술을 하며 작업물을 남기고 공유하실 분들은 아래 이메일을 통해 연락해 주시기 바랍니다.<br><br>
                    <a href="mailto:admin@dstudio.kr">admin@dstudio.kr</a>
                </p>
            </div>
            <div id="contenthide" class="contenthide">
            {% if page.artist %}
                {{ content }}
                <aside class="info">
                    <p class="infoname">{{ page.infoname }}</p>
                    <p id="p" class="p">{{ page.info }}</p>
                    <a href="javascript:void(0)" id="morebtn" class="morebtn" onclick="moreBtn()">
                        <i class="fa-solid fa-caret-right"></i></a>
                    <p class="artist-icon-wrap">
                    {% if page.homepage %}
                    <a href="{{ page.homepage }}" class="artist-icon" rel="author"><i class="fas fa-home"></i></a>
                    {% endif %}
                    {% if page.instagram %}
                    <a href="{{ page.instagram }}" class="artist-icon" rel="author"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if page.email %}
                    <a href="{{ page.email }}" class="artist-icon" rel="author"><i class="fas fa-envelope"></i></a>
                    {% endif %}
                    </p>
                </aside>
            {% else %}
            <nav class="artists">
                <ul>
                    {% for artist in site.data.artists %}
                        <li class="artist">
                        <a href="/artists/{{ artist.adressname }}">{{ artist.name }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
            </div>
        </div>
        </div>
    </main>
    {% include footer.html %}
</body>