<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Daegu Local Artists">
    <meta name="author" content="admin@dstudio.kr">
    <meta name="creator" content="Sung-gyu Choi">
    <meta name="keywords" content="Daegu, culture, art">
    <meta name="color-scheme" content="only light">
    <title>D studio</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/004.css">
    {% include favicon.html %}
    {% include og.html %}
</head>
<body id="body">
    </div>
    <div class="contentbox">
        <div class="content">
        <div class="wrap-post">
            {% if page.artist %}
                {{ content }}
            {% else %}
            <article class="artists">
                {% for artist in site.data.artists %}
                    <a href="https://dstudio.kr/artists/{{ artist }}" rel="tag">{{ artist.name }}</a>
                {% endfor %}
            </article>
            {% endif %}
        </div>
        </div>
    </div>
    {% include footer.html %}
</body>