<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="dstudio">
    {% if page.title == 'main' %}
        <link rel="stylesheet" type="text/css" href="/assets/css/001.css">
    {% endif %}
    <title>D studio</title>
</head>
<body>
    {% if page.title == 'main' %}
    <div id="paint1" style="background-image: none;"> 
    </div>
    <div id="paint2" style="background-image: none;"> 
    </div>
    <div id="paint3" style="background-image: none;"> 
    </div>
    <div id="paint4" style="background-image: none;"> 
    </div>
    <div id="paint5" style="background-image: none;"> 
    </div>
    <div id="paint6" style="background-image: none;"> 
    </div>
    <div id="paint7" style="background-image: none;"> 
    </div>
    <div id="paint8" style="background-image: none;"> 
    </div>
    <p id="main">We<br>Are<br>In<br>D</p>
    {% else %}
    <div>
    </div>
    {% endif %}
</body>
</html>