<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="dstudio">
    <link rel="stylesheet" type="text/css" href="/assets/css/001.css">
    <title>D studio</title>
</head>
<body>
    <div id="indmag">
        <object class="img" type="image/svg+xml" data="/assets/images/indmag-1.svg">
            IN_D Magazine
        </object>
    </div>
    <div id="dstudio">
        <object class="img" type="image/svg+xml" data="/assets/images/dstudio.svg">
            D studio
        </object>
    </div>
</body>
</html>