<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Daegu Local Community">
    <meta name="author" content="admin@dstudio.kr">
    <meta name="creator" content="Sung-gyu Choi">
    <meta name="keywords" content="Daegu, magazine, culture, art">
    <meta name="color-scheme" content="only light">
    <title>D studio</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/001.css">
</head>
<body>
    <a href="https://dstudio.kr/indmag">
        <div id="indmag">
            <img src="/assets/images/logo/indmag.svg" alt="IN_D Magazine">
        </div>
    </a>
    <a href="https://dstudio.kr/dstudio">
        <div id="dstudio">
            <img src="/assets/images/logo/dstudio.svg" alt="D studio">
        </div>
    </a>
</body>
</html>