<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="in d magazine">
    <link rel="stylesheet" type="text/css" href="/assets/css/003.css">
    <title>IN_D Magazine</title>
</head>
<body>
<div class="center">
    <div class="navbar">
        <a href="/indmag"><div class="logo">
        </div></a>
        {% if page.title == "about" %}
        <a href="/about" class="menu" style="color: #ffffff80;">About</a>
        <a href="/contact" class="menu" style="color: #161a1b;">Contact</a>
        {% elsif page.title == "contact" %}
        <a href="/about" class="menu" style="color: #161a1b;">About</a>
        <a href="/contact" class="menu" style="color: #ffffff80;">Contact</a>
        {% else %}
        <a href="/about" class="menu" style="color: #161a1b;">About</a>
        <a href="/contact" class="menu" style="color: #161a1b;">Contact</a>
        {% endif %}
    </div>
</div>
    <div class="content">
        {{% content %}}
    </div>
</body>