<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="in d magazine">
    <link rel="stylesheet" type="text/css" href="/assets/css/003.css">
    <title>IN_D Magazine</title>
</head>
<body>
<div id="center">
    <div class="navbar">
        <a href="/indmag"><div class="logo">
        </div></a>
        <a href="/about" class="menu">About</a>
        <a href="/contact" class="menu">Contact</a>
    </div>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
</div>
    <div class="content">
        {{ content }}
    </div>
</body>
<script src="/assets/js/scroll.js"></script>