<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Daegu Local Community Magazine">
    <meta name="author" content="admin@dstudio.kr">
    <meta name="creator" content="Sung-gyu Choi">
    <meta name="keywords" content="Daegu, magazine, culture, art">
    <meta name="color-scheme" content="only light">
    <title>IN_D Magazine</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/003.css">
    {% include favicon.html %}
    {% include script.html %}
    {% include og.html %}
</head>
<body>
<div id="center">
    <div class="navbar">
        <a href="https://dstudio.kr/indmag"><div class="logo">
        </div></a>
        <a href="https://dstudio.kr/about" class="menu">About</a>
        <a href="mailto:admin@dstudio.kr" class="menu">Contact</a>
        <a href="https://instagram.com/dstudio.kr" class="icon"><i class="fab fa-instagram"></i></a>
        <a href="https://soundcloud.com/dstudio_kr" class="icon"><i class="fab fa-soundcloud"></i></a>
    </div>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
</div>
    <div class="contentbox">
        <div class="content">
        <div class="wrap-post">
            <article class="markdown-body">
                {{ content }}
            </article>
        </div>
        <div class="tags">
            {% include tags.html %}
        </div>
        </div>
    </div>
    {% include footer.html %}
</body>